/*This is the style of the quizz*/
html,body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2 {
    position: center;
}
/* ----- added today  */
.questionDiv{
    /* filter:  brightness(40%); */
    background-image: brightness(40%);
    backdrop-filter: blur(50px);
    backdrop-filter: grayscale(0.5) opacity(0.8);
}

.submitNextDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 120px;
    border-radius: 12px;
    margin-bottom: 0px;
}

.nextDiv,
.submitDiv{
    padding: 10px;
    border-radius: 10px;
    color: white;
    
    
}
#resultsdiv{
    display:flex;
    flex-wrap: wrap;
    border-color: black;
}


/* #quizDivOption{
    background-color: white;
    height: 20px;
} */




.home-container{
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
    background-color: black;
}
.home-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: center;


}
.home-container h1{
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 100px;
}
.home-container p,
ol{
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.link,
button{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: white;
    border-radius: 10px;
    border-width: thin;
    border-color: white;
}
button:hover{
    box-shadow: 2px 2px 25px 7px white;
}
button a {
    text-decoration: none;
}
a:link{
    text-decoration: none;
    color: black;
    padding: 10px;
}
#resultsDiv{
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;

}