/*This is the style of the quizz*/
body {
    background-color: #ffbd69;
    margin: 0px;
}
h2 {
    position: center;
}
#quizDivOption{
    background-color: white;
    height: 20px;
}
.home-container{
    max-height: 800px;
    height: 700px;
    background-color: black;
}
.home-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.home-container h1{
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 100px;
}
.home-container p{
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}